* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: darkblue;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #ddd;
}

section {
    padding: 20px;
    margin-top: 20px;
}

#home {
    text-align: center;
}

#home .btn, .btn {
    background-color: darkred;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#home .btn:hover, .btn:hover {
    background-color: darkorange;
}

footer {
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

#study-materials .material {
    margin-bottom: 20px;
}

#study-materials a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
}

#study-materials a:hover {
    text-decoration: underline;
}

#quiz-form {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin-top: 10px;
}

#contact form input, #contact form textarea {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact form button {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.login-container {
    background-color: darkcyan;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #45a049;
}

/* Error message */
#error-message {
    display: none;
    font-size: 14px;
    color: red;
    text-align: center;
}
